@import 'https://fonts.googleapis.com/css?family=Crimson+Text:600i';
body {
  margin: 0;
  padding: 0;
  height: 100%;
  color: #2c3e50;
  font-family: "Crimson Text", serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.app-messenger {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.app-messenger .header {
  height: 50px;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.app-messenger .header .left {
  display: flex;
  width: 200px;
}
.app-messenger .header .left .left-action {
  line-height: 50px;
  padding-left: 30px;
  padding-right: 10px;
}
.app-messenger .header .left .actions {
  border: none;
  line-height: 50px;
  padding: 0 10px;
}
.app-messenger .header .left .right-action {
  padding-left: 10px;
  line-height: 50px;
}
.app-messenger .header .main-content {
  flex-grow: 1;
}
.app-messenger .header .main-content h2 {
  line-height: 50px;
  text-align: center;
}
.app-messenger .header .right {
  width: 300px;
}
.app-messenger .header .right .user-bar {
  line-height: 50px;
  display: flex;
  justify-content: flex-end;
  padding: 0 10px;
}
.app-messenger .header .right .user-bar .profile-name {
  padding-right: 10px;
}
.app-messenger .header .right .user-bar img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 10px 0 0 0;
}
.app-messenger .main {
  display: flex;
}
.app-messenger .main .sidebar-left {
  border-right: 1px solid rgba(0, 0, 0, 0.05);
  width: 200px;
}
.app-messenger .main .sidebar-right {
  border-left: 1px solid rgba(0, 0, 0, 0.05);
  width: 300px;
}
.app-messenger .main .sidebar-right .title {
  padding: 10px;
}
.app-messenger .main .main-content {
  flex-grow: 1;
  overflow-y: auto;
  padding: 20px;
  margin: 20px;
}
.app-messenger .main .main-content .messages {
  flex-grow: 1;
  padding: 20px;
}
.app-messenger .main .main-content .message-input {
  position: fixed;
  bottom: 0px;
  display: flex;
  flex-direction: row;
  border-top-color: rgba(0, 0, 0, 0.05);
}
.app-messenger .main .main-content .message-input .text-input textarea {
  width: 660px;
  border: 0 none;
  padding: 20px;
}
.app-messenger .main .main-content .message-input .action button {
  background: #2ecc71;
  color: white;
  border: none;
  padding: 7px 15px;
}

.messages {
  display: flex;
  flex-direction: column;
}
.messages .message {
  display: flex;
  padding: 15px;
  flex-direction: row;
  justify-content: flex-end;
}
.messages .message .message-user-image img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.messages .message .message-body {
  padding: 10px;
}
.messages .message .message-body .message-text {
  background: #2c3e50;
  color: white;
  padding: 10px;
  border-radius: 10px;
}
.messages .message.me {
  justify-content: flex-start;
}
.messages .message.me .message-body .message-text {
  background: #2ecc71;
}

.channels {
  overflow-y: auto;
  height: 100%;
}
.channels .channel {
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  padding: 8px 0;
}
.channels .channel .user-image {
  width: 30px;
}
.channels .channel .user-image img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.channels .channel .channel-info {
  flex-grow: 1;
  padding-left: 8px;
}
.channels .channel .channel-info h2 {
  font-size: 14px;
  font-weight: 600;
  white-space: nowrap;
}
.channels .channel .channel-info p {
  overflow: hidden;
  padding-right: 8px;
}
.channels .channel.active {
  background: rgba(0, 0, 0, 0.2);
}

.members .member {
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  padding: 8px 0;
}
.members .member .user-image {
  width: 30px;
}
.members .member .user-image img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.members .member .member-info {
  flex-grow: 1;
  padding-left: 8px;
}
.members .member .member-info h2 {
  font-size: 14px;
}
.members .member .member-info p {
  font-size: 12px;
}

h2.title {
  font-size: 26px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.8);
}

.toolbar {
  display: flex;
  flex-direction: row;
  height: 50px;
  position: relative;
}
.toolbar span {
  line-height: 20px;
  height: 30px;
  background: #2ecc71;
  color: #FFF;
  cursor: pointer;
  display: block;
  border-radius: 3px;
  margin: 10px 5px 0 0;
  padding: 5px 8px;
}
.toolbar label {
  line-height: 50px;
}
.toolbar input {
  height: 30px;
  line-height: 30px;
  margin-top: 10px;
  border: 0 none;
}
.toolbar .search-user {
  position: absolute;
  left: 0;
  top: 50px;
  z-index: 1;
}
.toolbar .search-user .user-list {
  min-width: 200px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.toolbar .search-user .user-list .user {
  display: flex;
  flex-direction: row;
  padding: 8px;
  cursor: pointer;
}
.toolbar .search-user .user-list .user img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-top: 10px;
}
.toolbar .search-user .user-list .user h2 {
  padding-left: 8px;
  flex-grow: 1;
  font-size: 14px;
}
.toolbar .search-user .user-list .user:hover {
  background: rgba(0, 0, 0, 0.2);
}

.user-bar button.login-btn {
  height: 50px;
  border: 0 none;
  background: none;
  color: #2ecc71;
  font-weight: 600;
}
.user-bar .user-form {
  position: absolute;
  top: 50px;
  right: 0;
  border: 1px solid rgba(0, 0, 0, 0.05);
  padding: 10px;
  border-top: 0 none;
}
.user-bar .user-form .form-item label {
  line-height: 30px;
  min-width: 100px;
  text-align: right;
  margin-right: 8px;
}
.user-bar .user-form .form-item input[type=email], .user-bar .user-form .form-item input[type=password], .user-bar .user-form .form-item input[type=text] {
  height: 30px;
  line-height: 30px;
}
.user-bar .user-form .form-actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.user-bar .user-menu {
  min-width: 200px;
  position: absolute;
  right: 0;
  top: 50px;
  border: 1pxs solid rgba(0, 0, 0, 0.05);
  border-top: 0 none;
}
.user-bar .user-menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.user-bar .user-menu ul li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  padding: 5px;
}
.user-bar .user-menu ul li button {
  border: 0 none;
  background: none;
  display: block;
  cursor: pointer;
  text-align: center;
  width: 100%;
}
.user-bar .user-menu ul li:hover {
  background: rgba(0, 0, 0, 0.09);
}
.user-bar .user-menu h2 {
  font-size: 14px;
  font-weight: 600;
  margin: 0;
  display: block;
  text-align: center;
}

.form-item {
  display: flex;
  margin-bottom: 10px;
}
.form-item label {
  font-weight: 600;
}
.form-item input[type=email], .form-item input[type=password], .form-item input[type=text] {
  border: 1px solid rgba(0, 0, 0, 0.05);
  padding: 3px 8px;
}

.form-actions button {
  border: 0 none;
  padding: 7px 15px;
  text-align: center;
}
.form-actions button.primary {
  background: #2ecc71;
  color: #FFF;
}

.app-message {
  font-size: 12px;
  text-align: center;
  border: 1px solid #2ecc71;
  border-radius: 5px;
  margin: 10px 0;
}
.app-message.error {
  background: #e74c3c;
  color: #FFF;
  border-color: #e74c3c;
}

/*# sourceMappingURL=app.css.map */
